body{
	background-color:#020324;
}
.logo img  /*for creating symbol*/
{
	width: 100px;
	border-radius: 100px;
	margin: 15px;
	justify-content: center;

 
}
.navbar{
	position: relative;
	background-color:orange;

}

.navbar{
	margin: 5px;
 	font-size:35px;
 	display: flex;
 	border-radius: 49px;
 	color:black;

}


ul     /* for creating home about,picture */
{
padding: 0px;
text-decoration:none;
font-size: 30px;/*for increasing size  of home,about ,*/
display: flex;
list-style: none;
	/*margin: 25px;
		padding: 0;
		width: 500px;
font-size: 20px;*/
}
li
{
		float: left;
}
li a{
		/*display:block ;*/
		color: red;      /* for geting color  red for home,about,contact*/
		padding: 10px 10px;
		text-decoration: none;
		border-radius: 100px;
		margin:10px;     /* for increas distance between home and about*/
	}

li a:hover
	{
		background-color:red;
		color: blue;  /* to get blue color  for character*/

	}

li a.active   /* always for active class home*/	
{
background-color:red;
color: blue;/* to get blue color  for character*/
}
.home::before{
	display: flex;
	flex-direction: column;
}	
.home::before {
	
	content: "";
	position: absolute;
	//background: url('images/bg1.jpg')no-repeat center/cover;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.4;

}
.p {
	

	color: black;
	text-align: center;
}

.hp{
	padding: 50px;
	display: block;
	color:yellow;
	font-size: 50px;
	text-align: center;
	justify-content: center;
	font-family: 'Oswald', sans-serif;
	box-shadow: 3px 3px 50px #078898;
	
}

.home  p
{
	font-size: 24px;
	text-align: center;
	justify-content: center;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;
}

.sticky-footer /* to make footer down at bottom*/
{
	background-color: orange;
	text-align: center;
	margin-top: 10%; /*make margin 100% to come footer at bottom*/
	justify-content: center;
	font-size: 24px;

} 
/*contact page */
.contact
{
	text-align: center;
    justify-content: center;
    margin: 4%;
    padding: 2%;
    box-shadow: 1px 1px 80px #078898;
}
 
 form
{
	/*width: 23%;*/
    justify-content: center;
    text-align: center;
    padding: 10%;
    width: 80%;
    color: white;
    font-size: 38px;
     box-shadow: 1px 1px 80px #078898;
}

form input
{
	width: 50%;
    font-size: 28px;
    border-radius: 10px;
}

form textarea
{
    width: 100%;
    font-size: 40px;
    border-radius: 10px;	
}

form button
{
	padding: 10px;
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer ;
	box-shadow: 1px 1px 10px #078898;
}


.inco
{

	font-size: 27px;
	text-align: center;
	justify-content: center;
	color:#84e002;
	font-family: 'Nanum Gothic', sans-serif;
}

.all
{
	border:5px solid yellow;
	text-align: center;
	margin: 41px;
	

	font-size: 24px;
	text-align: center;
    
	justify-content: center;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;
}
.imgs
{
	   // border: 5px solid yellow;
	    box-shadow:1px 1px 80px #078898;
    text-align: center;
    padding: -61px;
    margin: 6%;
    width: 87%;

}
.text
{
	font-size: 24px;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;
}

.text2 
{
	text-align: center;
	border: 5px solid yellow;
	margin: 41px;
	font-size: 24px;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;

}
.text2 img
{
    // border: 5px solid yellow;
     border-radius: 100px;
 	color: green;
 	margin: 20px;
 	box-shadow: 10px 10px 80px #078898;
}

.text3
{
	text-align: center;
	//border: 5px solid yellow;
	margin: 41px;
	font-size: 24px;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;
	box-shadow: 20px 20px 70px #078898;
}
/*contant of  about page*/
.aboutimg
{

    padding: 17px;
    margin: 9%;
    justify-content: center;
    box-shadow: 5px 10px 80px #078898;
   
   
  
}
.aboutimg img
{
	
	
	 width: 77%;
    padding: 9px;
    margin: 9%;
   box-shadow: 5px 10px 80px #078898;
}
.perinfo
{
 font-size: 24px;
	color:#84e002;
	font-family: 'Nanum Gothic', sans-serif;
}
.text4
{
	padding: 50px;
	margin: 100px;
	text-align: center;
	justify-content: center;
	font-size: 24px;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;
	 box-shadow: 5px 10px 80px #078898;
}
.ser-img
{
	justify-content: center;
}

.ser-img img
{
	justify-content: center;
    box-shadow: 5px 10px 80px #078898;
    padding: 60px;
    margin: 106px;
    width: 82%;

}
.text5
{
padding: 50px;
	margin: 100px;
	text-align: center;
	justify-content: center;
	font-size: 24px;
	color:white;
	font-family: 'Nanum Gothic', sans-serif;
	 box-shadow: 5px 10px 80px #078898;
}

.e 
{
	
	justify-content: center;
	text-align: center;
	color: blue;
	box-shadow: -3px 2px 13px 20px #0788;
	margin: 41px;


}

.media
{
	
	height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.a1
{
	width: 99px;
    height: 35%;        
    background-color: black;
    border-radius: 66px;
    text-align: center;
    margin: 27px;
    line-height: 139px;
   

}

.ee i
{
	padding: 5%;

}
.ee p
{
	font-size: 45px;
}



.e:hover p
{
	color: yellow;
	transition: all 0.3s linear;
}
.a1 i
{
	transition: all 0.3s linear;

}

.a1:hover i
{
	transform: scale(1.4);
}
.fa-facebook
{
	color: blue;
}
.fa-instagram
{
	color: #e84393;
	 
}
.fa-youtube
{
	color: #e84118;
}
.fa-twitter
{
	color: #0097e6
}
.fa-envelope
{
	color: orange;
	


}
.counter
{
	width: 100%;
}



 /*making websit responsive */
@media only screen and (max-width: 569px)
{
	.navbar
	{
		font-size: 23px;
	}
	.logo img
	{
		width: 60px;
	}
	ul
	{
		font-size:15px;
	}
	li a
	{
		padding: 10px 0px;
        margin: 8px;
        border-radius: 20px;
	}
	.text2 img
	{
		 margin: 29px;
         width: 54%;
	}

	.text4
    {
    padding: 1%;
    margin: 25px;
    }
	.ser-img img
	{
    
    margin: 1%;
    width: 76%;
    }
    .text5
    {
    padding: 1%;
    margin: 50px;
    }
    .sticky-footer
    {
    	font-size: 24px;
    }
    form
    {
    font-size: 17px;
    margin: 2%;
    width: 76%;

    }
    form input
    {
    	font-size: 30px;
    }
    textarea
    {
    	    font-size: 33px;
    }
    .ee p
    {
    	    font-size: 15px;
    }
    .a1
    {
    width: 99px;
    height: 44%;
    background-color: black;
    border-radius: 66px;
    text-align: center;
    margin: 9px;
    line-height: 168px;
    }
}